<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<% if !@actor.matches.empty? %>
<p><strong>Recent Matches:</strong></p>
<table>
    <thead>
      <tr>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @actor.matches.each do |match| %>
        <tr>
          <% if match.actors.first.id == @actor.id %>
           <td><%= match.actors.second.name%></td>
          <% else %>
           <td><%= match.actors.first.name %></td>
          <% end %>        
          <td><%= link_to 'Show', "/matches/#{match.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
		<strong>Acting Credits:</strong></br>
		<div id="multiColumn">
			<ol>
				<% @actor.movies.each do |movie| %>
					<p><%=movie.title%></p>
				<% end %>
			</ol>
		</div>
	</p><br>

